.portlet-sortable-placeholder {
    border: 2px dashed #fff;
    margin-bottom: 25px;
}

.table thead, table.table-bordered.dataTable, .table thead td {
    border-collapse: collapse !important;
}

ul.bc-collection .row {
    margin-left:0px;
}

ul.bc-collection div.row div.form-inline {
    margin-top:5px;
}

.table .btn-group .btn {
    margin-right:0;
}

.fc-content .fc-time {
    margin-right:5px;
}

.dropdown-menu .pull-right {
    top: 28px !important;
    right:50px !important;
}
